@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  scrollbar-gutter: stable;
  /* TODO: fix, native scroll on y-axis causes horizontal overflow (and scrolling) */
  overflow-x: hidden;
  /* TOOD: replace this with Base UI ScrollArea https://base-ui.com/react/components/scroll-area */
  overflow-y: auto;
}

@tailwind utilities;

@theme {
  /* Accent Red */
  --color-accent-red-0: #fff5f4;
  --color-accent-red-50: #fde3e1;
  --color-accent-red-100: #fbcbc7;
  --color-accent-red-200: #f79a92;
  --color-accent-red-300: #f8857d;
  --color-accent-red-400: #f56a61;
  --color-accent-red-500: #f23938;
  --color-accent-red-600: #d83731;
  --color-accent-red-700: #c52e2d;
  --color-accent-red-800: #a72225;
  --color-accent-red-900: #851517;

  /* Accent Blue */
  --color-accent-blue-0: #f4f8fc;
  --color-accent-blue-50: #e4eef7;
  --color-accent-blue-100: #c9dded;
  --color-accent-blue-200: #89a9c4;
  --color-accent-blue-300: #6f93b3;
  --color-accent-blue-400: #4f789c;
  --color-accent-blue-500: #2f5f87;
  --color-accent-blue-600: #2a567a;
  --color-accent-blue-700: #234867;
  --color-accent-blue-800: #1c3a54;
  --color-accent-blue-900: #142b3e;

  /* Neutral */
  --color-neutral-0: #faf7f4;
  --color-neutral-50: #f3efeb;
  --color-neutral-100: #e6e1dd;
  --color-neutral-200: #d8d2cd;
  --color-neutral-300: #c9c2bd;
  --color-neutral-400: #b2aaa4;
  --color-neutral-500: #9c938d;
  --color-neutral-600: #8e8680;
  --color-neutral-700: #5a544f;
  --color-neutral-800: #3a3431;
  --color-neutral-900: #26211f;

  /* Font Families */
  --font-family-main: 'Inter', 'Roboto', sans-serif;
  --font-family-brush: '2', cursive;

  --font-main: var(--font-family-main);
  --font-brush: var(--font-family-brush);
}

@layer components {
  h1 {
    font-family: var(--font-family-main);
    font-size: var(--text-5xl);
    font-weight: bolder;
  }
  h2 {
    font-family: var(--font-family-main);
    font-size: var(--text-4xl);
    font-weight: bold;
  }
}

@utility scale-clickable-hover {
  scale: 110%;
}

@utility scale-clickable-active {
  scale: 85%;
  @media (width >= 64rem /* lg */) {
    scale: 95%;
  }
}

@utility scale-clickable-focus {
  scale: 110%;
}

@utility base-horizontal-padding {
  padding-inline: 10%;
  @media (width >= 64rem /* lg */) {
    padding-inline: 10%;
  }
}

@utility base-vertical-padding {
  padding-block: 4rem;
  @media (width >= 6454m /* lg */) {
    padding-block: 6rem;
  }
}

@utility screen-section {
  width: 100vw;
  height: 96svh;
  @media (width >= 64rem /* lg */) {
    height: 100svh;
  }
}

@utility screen-section-min {
  width: 100vw;
  min-height: 96svh;
  @media (width >= 64rem /* lg */) {
    min-height: 100svh;
  }
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
