@import "tailwindcss";

@theme {
  /* Accent Red Colors */
  --color-accent-red-200: #F79A92;
  --color-accent-red-300: #F8857D;
  --color-accent-red-400: #F56A61;
  --color-accent-red-500: #F23938;
  --color-accent-red-600: #D83731;
  --color-accent-red-700: #C52E2D;

  /* Accent Blue Colors */
  --color-accent-blue-200: #89A9C4;
  --color-accent-blue-500: #2F5F87;
  --color-accent-blue-700: #234867;

  /* Neutral Colors */
  --color-neutral-0: #FAF7F4;
  --color-neutral-50: #F3EFEB;
  --color-neutral-100: #E6E1DD;
  --color-neutral-300: #C9C2BD;
  --color-neutral-600: #8E8680;
  --color-neutral-800: #3A3431;
  --color-neutral-900: #26211F;

  /* Font Families */
  --font-family-main: "Roboto", sans-serif;
  --font-family-brush: "Nanum Brush Script", cursive;
  
  --font-main: var(--font-family-main);
  --font-brush: var(--font-family-brush);
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
